



h1 {
	text-align: center;
	margin: 75px 0 0;
}

nav {
	text-align: center;
	background: black;
	color: white;
	padding: 25px;
	margin: 40px 0 60px;
}

h3 {
	display: inline-block;
	margin: 0 75px;
}


